.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  width: 100%;
  height: 1004px;
  display: flex;
  position: relative;
  align-items: flex-end;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
  background-position: center;
}
.home-herder-logo {
  top: 33px;
  left: 55px;
  width: 434px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-image {
  top: 0px;
  left: 0px;
  width: 75px;
  height: 83px;
  position: absolute;
  object-fit: cover;
}
.home-maintext {
  top: -3px;
  left: 2px;
  width: 423px;
  height: 90px;
  display: flex;
  position: absolute;
  animation: flashing-front;
  align-items: center;
  justify-content: center;
}
.home-text {
  top: 7px;
  left: 96px;
  color: #000000;
  position: absolute;
}
.home-text01 {
  top: 49px;
  left: 96px;
  color: #000000;
  position: absolute;
  text-align: justify;
}
.home-text02 {
  color: #000000;
  right: 32px;
  bottom: 6px;
  position: absolute;
}
.home-text03 {
  top: 192px;
  left: 63px;
  color: #ffffff;
  width: 406px;
  height: 129px;
  position: absolute;
}
.home-text04 {
  top: 324px;
  left: 57px;
  color: #ffffff;
  width: var(--dl-size-size-xxlarge);
  position: absolute;
}
.home-text09 {
  left: 60px;
  color: rgb(255, 255, 255);
  bottom: 50px;
  position: absolute;
}
.home-text11 {
  color: #ffffff;
}
.home-text13 {
  color: #ffffff;
}
.home-social-bar {
  right: 3px;
  width: 424px;
  bottom: 45px;
  height: 130px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-button {
  top: 534px;
  left: 51px;
  color: #ffffff;
  height: auto;
  position: absolute;
  font-size: 22px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.home-button:hover {
  border-color: #0814ff;
  background-color: #0814ff;
}
@media(max-width: 1600px) {
  .home-text03 {
    top: 192px;
    left: 65px;
    position: absolute;
  }
  .home-social-bar {
    right: 17px;
    bottom: 54px;
  }
}
@media(max-width: 1200px) {
  .home-herder-logo {
    top: 72px;
    left: 39px;
  }
  .home-text {
    top: 10px;
    right: 0px;
  }
  .home-text03 {
    top: 198px;
    left: 65px;
    color: #ffffff;
    width: 259px;
    height: 109px;
    position: absolute;
  }
  .home-social-bar {
    right: 24px;
    bottom: 52px;
  }
}
@media(max-width: 991px) {
  .home-text03 {
    top: 198px;
    left: 65px;
  }
  .home-social-bar {
    right: 0px;
    bottom: 43px;
  }
}
@media(max-width: 767px) {
  .home-herder-logo {
    top: 30px;
    left: 121px;
    width: 488px;
    height: 244px;
  }
  .home-image {
    top: -10px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-maintext {
    top: 75px;
    left: 0px;
    right: 0px;
    height: 125px;
    margin: auto;
  }
  .home-text {
    top: 1px;
    left: 1px;
    text-align: center;
  }
  .home-text01 {
    top: 39px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
  .home-text02 {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
  }
  .home-text03 {
    top: 279px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
  }
  .home-text04 {
    top: 371px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 18px;
    text-align: center;
  }
  .home-text09 {
    left: 0px;
    right: 0px;
    bottom: -5px;
    margin: auto;
    text-align: center;
  }
  .home-social-bar {
    left: 0px;
    right: 0px;
    bottom: 88px;
    height: 27px;
    margin: auto;
    padding-top: 5px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .home-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 160%);
  }
}
@media(max-width: 479px) {
  .home-herder-logo {
    left: 0px;
    right: 0px;
    width: 453px;
    margin: auto;
  }
  .home-text03 {
    height: 84px;
  }
  .home-text04 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 145%);
  }
}
